.env
env
*~

.git

__pycache__
__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt

.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache
.pytest_cache
.hypothesis

/idea/*
.vscode/
*.DS_Store
.DS_STORE


**/node_modules/
**/dist
node_modules
dist

npm-debug.log
.coverage
.coverage.*
.env
.aws
.env
.coveragerc
.coverage
.pyre/

push-to-stage-ecr.sh
out/